/* header section */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.main-container {
    background-image: url('../images/banner/banner3.png');
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
}

.sub-container {
    text-align: end;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-40%, -40%);
}

.h-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.h-decsription {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.main-button {
    font-weight: 600;
    font-size: 20px;
    border: 0;
    color: #005FAC;
    padding: 20px 25px;
    border-radius: 5px;
    height: 64px;
    margin-bottom: 130px;
}

/* failure section */
.failure {
    margin: 130px auto;
    width: 1072px;
}

.f-image {
    display: flex;
    justify-content: space-between;
}

.prev-year {
    margin-top: 370px;
    margin-left: 90px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

ul {
    list-style-position: inside;
    font-weight: 400;
    font-size: 16px;
    gap: 8px;
}
.fa-solid{
    color: #00FF00;
}