/* header style */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.main-container {
    background-image: url('../images/banner/banner3.png');
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
}

.sub-container {
    text-align: end;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-40%, -40%);
}

.h-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.h-decsription {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.main-button {
    font-weight: 600;
    font-size: 20px;
    border: 0;
    color: #005FAC;
    padding: 20px 25px;
    border-radius: 5px;
    height: 64px;
    margin-bottom: 130px;
}

/* failure styles*/
.failure {
    margin: 130px auto;
    width: 1072px;
}

.f-image {
    display: flex;
    justify-content: space-between;
}

.prev-year {
    margin-top: 370px;
    margin-left: 90px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

ul {
    list-style-position: inside;
    font-weight: 400;
    font-size: 16px;
    gap: 8px;
}

.fa-solid {
    color: #00FF00;
}

/* plan styles */
.plans {
    margin-top: 130px;

}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin: 125px 45%;
}

.skill-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 230px;
}

.skill-name {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* course style */
.course {
    margin: 130px 250px;


}

.course-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 20px;
}

.course-info {
    text-align: center;
}

.course-name {
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    margin-bottom: 15px;
}

.course-description {
    font-weight: 500;
    font-size: 20px;
    color: #737272;
    margin-bottom: 15px;
}

/* gradient style */
.gradient {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png'); 
    background-repeat: no-repeat;
    margin: 130px 20%;
    width: 1140px;
    left: 230px;
    height: 300px;
    border-radius: 8px;
    
}

.gradient-container {
    text-align: left;
    padding: 60px 620px 60px 64px;    
}

.gradient-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    
}
 .gradient button[class="main-button"]{
    margin-top: 24px;
}